
body {
  height: 100%;
  max-width: 40em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  /* Clara, VenturisSans ADF, Gillius ADF No2 */
  font-family: 'VenturisSans ADF', sans-serif;
  font-size: 125%;
  hyphens: auto;
  text-align: justify;
}

h1 {
  font-family: 'Venturis ADF Goth Titling', serif; 
}

h2, h3, h4, h5 {
  font-family: 'VenturisSans ADF Ex', serif;
}

header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5em;
}

header section.title {
  display: block;
}

section.title h1 {
  font-size: 200%;
}

section.title h2 {
  font-weight: normal;
}

section.title p.author {
  font-size: 125%;
  padding-top: 0.25em;
  margin-left: 1em;
}

header nav {
  display: block;
  margin-left: auto;
  height: 100%;
}

header nav ul {
  height: 100%;
  list-style: none;
}

header nav ul li {
  margin: 0.25em;
}


header nav a {
  color: DimGray;
  text-decoration: none;
}

main {
  line-height: 1.5em;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

p + p {
  text-indent: 2em;
}

cite {
  font-style: italic;
}

q {
  quotes : "“" "”" "‘" "’"
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-color: LightGray;
}

a:hover {
  background: LightGray;
}

ul.biblio {
  list-style: none;
  line-height: 1.5em;
  text-indent: -2em;
  padding-left: 2em;
}

ul.biblio li {
  margin-bottom: 1ex;
}


