html {
  height: 100vh;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  /* Clara, VenturisSans ADF */
/*  font-family: 'Gillius ADF No2', sans-serif; */
  font-family: 'VenturisSans ADF', sans-serif;
  font-size: 24px;
  hyphens: auto;
  text-align: justify;
}

h1 {
  font-family: 'Venturis ADF Goth Titling', serif; 
}

h2, h3, h4, h5 {
  font-family: 'VenturisSans ADF No2 Ex', serif;
}

header {
  text-align: center;
}

header h2.author {
  font-size: 125%;
}

header nav a {
  color: DimGray;
}

header nav ul {
  list-style: none;
}

main {
  width: 35em;
  line-height: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

p + p, footer p {
  text-indent: 2em;
}

cite {
  font-style: italic;
}

q {
  quotes : "“" "”" "‘" "’"
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-color: LightGray;
}

a:hover {
  background: LightGray;
}

ul.biblio {
  list-style: none;
  line-height: 1.5em;
  text-indent: -2em;
  padding-left: 2em;
}

ul.biblio li {
  margin-bottom: 1ex;
}


